<form action=<%= "/juices/#{@juice.id}" %> method="PATCH">  #you can write this either way
  <input type="text" name="juice[name]" value-"<%= @juice.name %>">
  <input type="text" name="juice[size]" value-"<%= @juice.size %>">
  <input type="submit" name="" value="Submit"

</form>
