#the action is asking the question what route do we want to send our information to,
#the method is how are we doing it - we are sending the new one to /juices (adding it to the page)




<form action="juices" method="POST">
  <label for="">Name</label>
  <input type="text" name="juice[name]" value ="">
  <label for="">Size</label>
  <input type="text" name="juice[size]" value ="">
  <input type="submit" name="" value ="Submit">

</form>
